// Color variables
// Styleguide 1.0

$bodyColor: #5a5a5a;

$colorBodyText: #778AA1;
$colorHeadingText: #425B78;

$colorBackground: #536C8A;

$colorSelected: #40B292;

$colorHighlightBlue: #9FB0C3;
$colorLightBlue: #F0F4F9;
$colorMainBlue: #6096D8;
$colorMediumBlue: #536C8A;
$colorDarkBlue: #2E3E51;

$colorLightRed: #F4C1C1;
$colorMediumRed: #CC4848;
$colorLightGreen: #e1fcc4;
$colorMediumGreen: #4F8A10;

$colorOffWhite: #fbfbfb;
$colorLightGrey: #e5e5e5;
$colorMediumGrey: #898989;
$colorDarkGrey: #5a5a5a;
